# Rust
/target/
/scanner_compliance/target/
tmp/

# llama.cpp build artifacts
/runtime/llama.cpp/build
/runtime/llama.cpp/*.o
/runtime/llama.cpp/server
/runtime/llama.cpp/main

# Models (très important)
runtime/models

# Env
.env
